/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.video--home {
  position: absolute;
  top: 75px;
  left: 60%;
  width: 40%; }
  .video--home .video--homeplay__play-button {
    width: 75px;
    height: 75px;
    background: rgba(234, 23, 140, 0.7);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer; }
  .video--home video {
    width: 100%;
    height: 100%; }
  .video--home .video__controls {
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .video--home .video__controls .fa-pause {
      cursor: pointer !important; }
    .video--home .video__controls .video__controls__seekSlider {
      cursor: pointer;
      display: flex;
      align-items: center; }
    .video--home .video__controls .video__controls__volume--up, .video--home .video__controls .video__controls__volume--down, .video--home .video__controls .video__controls__full-screen {
      cursor: pointer; }
    .video--home .video__controls .video__controls__volume--down {
      padding: 0px 6.5px; }
    .video--home .video__controls p:first-of-type {
      margin-left: 0px !important;
      background: orange; }

.video__controls__seekSlider input {
  flex-shrink: 0; }

.video__controls__seekSlider span {
  font-size: 12px;
  padding: 0px 5px;
  display: inline-block; }

@media (max-width: 900px) {
  .video--home {
    top: 50px; } }

@media (max-width: 740px) {
  .video--home {
    overflow: hidden;
    position: absolute;
    top: 40vh;
    left: 0%;
    width: 100%; } }
