@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.video--home {
	@include position-top-left-width(absolute, 75px, 60%, 40%);
	color: white;
	border-top: 1px solid $color-font-dark-black;
	border-bottom: 1px solid $color-font-dark-black;

	.video--homeplay__play-button {
		width: 75px;
		height: 75px;
		background: rgba(234,23,140, .7);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		cursor: pointer;

		@include respond(phone) {
			width: 60px;
			height: 60px;
		}

	}

	video {
		width: 100%;
	}

	.video__controls {
		position: absolute;
		height: 40px;
		width: 100%;
		bottom: 0px;
		z-index: 2;
		display: flex;
		justify-content: space-around;
		align-items: center;


		.fa-pause {
			cursor: pointer !important;
		}

		.video__controls__seekSlider--home, .video__controls__seekSlider {
			cursor: pointer;
			display: flex;
			align-items: center;
			
			input {
				flex-grow: 1;
			}
		}

		.video__controls__seekSlider {
			flex-grow: 1
		}

		.video__controls__volume--up, .video__controls__volume--down, .video__controls__full-screen {
			cursor: pointer;
		}

		.video__controls__volume--down {
			padding: 0px 6.5px;
		}

		p:first-of-type {
			margin-left: 0px !important;
		}
	}
}

.video__controls__seekSlider {

	input {
		flex-shrink: 0;
	}

	span {
		font-size: 12px;
		padding: 0px 5px;
		display: inline-block;
	}
}

@include respond(tab-port) {
	.video--home {
		top: 50px;
	}
}

@include respond(videoplayer) {
	.video--home {
		overflow: hidden;
		@include position-top-left-width(absolute, 40vh, 0%, 100%);
	}
}
