@import './variables.scss';

@mixin hamburgerLogo__letter--font($font) {
	margin: auto;
	font-size: $font;
	color: $color-font-light-pink;
	font-weight: 900;
}

@mixin hamburgerLogo__animation-container_box($margin, $background-color, $height) {
	margin-bottom: $margin;
	background: $background-color;
	height: $height;
}

@mixin height-width-position-overflow($width, $height, $position, $overflow) {
	width: $width;
	height: $height;
	position: $position;
	overflow: $overflow;
}

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 600px) {
			@content
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 900px) {
			@content
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 1200px) {
			@content
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 1800px) {
			@content
		}
	}
}

@mixin responsiveVh($breakpoint) {
	@if $breakpoint == phone1 {
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			@content
		}
	}
	@if $breakpoint == phone2 {
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
			@content
		}
	}
	@if $breakpoint == phone3 {
		@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
			@conent
		}
	}
	@if $breakpoint == phone4 {
		@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
			@content
		}
	}
	@if $breakpoint == phone5 {
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
			@content
		}
	}
	@if $breakpoint == phone6 {
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
			@content
		}
	}
}
















