@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';


.home {
	width: 100%;
	margin: 0 auto;
	max-width: 2000px;
	position: absolute;
	transition: .5s;
	transition-timing-function: ease-out;
	top: 0;
}

.home__section--havoc {
	background: white;
	flex-direction: column;
	align-items: center;
	@include flexbox-settings(flex, center);
	@include height-width-position-overflow(100%, auto, absolute, hidden);

	.home__section--havoc__title {
		color: $color-font-dark-black;
		@include letter-spacing-font-size(275px, -10px);

		@include respond(tab-port) {
			@include letter-spacing-font-size(170px, -5px);
		}

		@include respond(phone) {
			@include letter-spacing-font-size(120px, 0px);
			letter-spacing: 0px;
			font-size: 120px;
		}

		@include respond(big-desktop) {
			font-size: 340px;
		}

	}

	.home__section--havoc__animation-container {
		position: absolute;
		bottom: 10%;

		p {
			font-size: 16px;
			font-weight: 300;

			@include respond(big-desktop) {
				font-size: 18px;
			}
		}

		.home__section--havoc__animation-container-para--one-before-animation {
			@include home-animation-havoc-container(0);
		}

		.home__section--havoc__animation-container-para--one-after-animation {
			@include home-animation-havoc-container(1);
		}

		.home__section--havoc__animation-container-para--two-before-animation, .home__section--havoc__animation-container-para--two-after-animation {
			border-bottom: 1px solid $color-font-light-black;
			width: 100%;
			position: absolute;
			transform: rotate(-90deg);
			transition: 1s;

			@include respond(big-desktop) {
				border-bottom: 2px solid $color-font-light-black;
			}
		}

		.home__section--havoc__animation-container-para--two-before-animation {
			bottom: -150px;
		}

		.home__section--havoc__animation-container-para--two-after-animation {
			bottom: -75px;
		}
	}
}

.home__section--slide-show {
	display: flex;
	width: 100%;
	overflow: hidden;
	
	.home__section--slide-show__counter {
		padding-left: 4%;
		z-index: 1;
		background: red;
		height: 0%;

		@include respond(big-desktop) {
			font-size: 18px;
		}
	}

	.home__section--slide-show__bottom-border {
		margin: 20vh 5px;
		padding-top: 5px;
		border-bottom: 1px solid white;
		@include width-height(50px, 1px);
	}

	.home__section--slide-show__counter, .home__section--slide-show__content  {
		margin-top: 20vh;
		color: white;
		font-weight: 900;
	}

	.home__section--slide-show__content {
		position: relative;
		transition: .5s;
		transition-timing-function: ease-out;
		width: 100%;
		padding-right: 4%;
		
		@include respond(tab-port) {
			margin-left: -80px;
		}
		
		&--container1, &--container2, &--container3, &--container4 {
			position: relative;

			p:first-of-type {

				@include respond(big-desktop) {
					font-size: 18px;

				}

				@include respond(tab-port) {
					margin-left: 80px;
				}
			}
		}

		h3 {
			margin-top: 10vh;
			font-size: 72px;
			max-width: 400px;

			@include respond(phone) {
				margin-top: 0vh;
			}

			@include respond(tab-port) {
				font-size: 48px;
				margin-top: 5vh;
				max-width: 100%;
			}

			@include respond(big-desktop) {
				font-size: 102px;
			}
		}

		p:last-of-type {
			font-weight: 300;
			max-width: 350px;
			@include font-size-line-height(18px, 35px);

			@include respond(tab-port) {
				@include font-size-line-height(16px, 30px);
			}

			@include respond(big-desktop) {
				@include font-size-line-height(22px, 44px);
			}
		}

		.home__section--slide-show__content__border-line {
			border-bottom: 1px solid white;
			margin: 5vh 0;
			@include width-height(100px, 1px);
		}
	}

	.home__section--slide-show--backgorund-img {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		width: 100%;
		position: absolute;
		z-index: -1;
	}
}




























