@import "../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

.work {
	height: 2000px;
	background: black;
}

.work__make-something-you-love {
	
	h2 {
		color: white;
		font-size: 60px;
		font-weight: 300;
		text-align: center;
		margin: 75px 0px;
		padding: 0 4%;

		@include respond(tab-port) {
			font-size: 44px;
		}

		@include respond(big-desktop) {
			font-size: 76px;
		}
	}
}