/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
@import url(../../node_modules/video-react/dist/video-react.css);
html, body {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  height: 100%; }

.fade-out {
  transition: .5s;
  opacity: 0; }

.fade-in {
  transition: .5s;
  opacity: 1; }

.background-white {
  background: white; }

.background-grey {
  background: #F4F4F4; }

body {
  font-family: sans-serif; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.video--home {
  position: absolute;
  top: 75px;
  left: 60%;
  width: 40%;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .video--home .video--homeplay__play-button {
    width: 75px;
    height: 75px;
    background: rgba(234, 23, 140, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer; }
    @media (max-width: 600px) {
      .video--home .video--homeplay__play-button {
        width: 60px;
        height: 60px; } }
  .video--home video {
    width: 100%; }
  .video--home .video__controls {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .video--home .video__controls .fa-pause {
      cursor: pointer !important; }
    .video--home .video__controls .video__controls__seekSlider--home, .video--home .video__controls .video__controls__seekSlider {
      cursor: pointer;
      display: flex;
      align-items: center; }
      .video--home .video__controls .video__controls__seekSlider--home input, .video--home .video__controls .video__controls__seekSlider input {
        flex-grow: 1; }
    .video--home .video__controls .video__controls__seekSlider {
      flex-grow: 1; }
    .video--home .video__controls .video__controls__volume--up, .video--home .video__controls .video__controls__volume--down, .video--home .video__controls .video__controls__full-screen {
      cursor: pointer; }
    .video--home .video__controls .video__controls__volume--down {
      padding: 0px 6.5px; }
    .video--home .video__controls p:first-of-type {
      margin-left: 0px !important; }

.video__controls__seekSlider input {
  flex-shrink: 0; }

.video__controls__seekSlider span {
  font-size: 12px;
  padding: 0px 5px;
  display: inline-block; }

@media (max-width: 900px) {
  .video--home {
    top: 50px; } }

@media (max-width: 740px) {
  .video--home {
    overflow: hidden;
    position: absolute;
    top: 40vh;
    left: 0%;
    width: 100%; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.bottom-page-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 600px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 740px) {
    .bottom-page-banner {
      flex-direction: column;
      align-items: flex-start; } }
  .bottom-page-banner .bottom-page-banner__havoc-box {
    width: 20vw;
    height: 20vw;
    background: white;
    margin-right: 75px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .bottom-page-banner .bottom-page-banner__havoc-box h3 {
      margin-top: 25px;
      font-weight: 900;
      font-size: 28px; }
      @media (max-width: 1200px) {
        .bottom-page-banner .bottom-page-banner__havoc-box h3 {
          font-size: 22px; } }
      @media (max-width: 900px) {
        .bottom-page-banner .bottom-page-banner__havoc-box h3 {
          font-size: 18px; } }
    .bottom-page-banner .bottom-page-banner__havoc-box span {
      color: #EA178C; }
    .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box {
      display: flex;
      margin-bottom: 10px; }
      .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p:first-of-type {
        width: 100px;
        border-bottom: 1px solid black;
        align-self: center;
        margin: 0 5px; }
        @media (max-width: 1200px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p:first-of-type {
            width: 75px; } }
        @media (max-width: 900px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p:first-of-type {
            width: 50px; } }
        @media (min-width: 1800px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p:first-of-type {
            width: 125px; } }
      .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box h4 {
        font-size: 10px;
        font-weight: 900; }
        @media (max-width: 1200px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box h4 {
            font-size: 8px; } }
        @media (min-width: 1800px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box h4 {
            font-size: 12px; } }
      .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p {
        font-size: 10px;
        color: black;
        font-weight: 900; }
        @media (max-width: 1200px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p {
            font-size: 8px; } }
        @media (min-width: 1800px) {
          .bottom-page-banner .bottom-page-banner__havoc-box__animate-number-box p {
            font-size: 12px; } }
    @media (max-width: 900px) {
      .bottom-page-banner .bottom-page-banner__havoc-box {
        width: 25vw;
        height: 25vw; } }
    @media (max-width: 740px) {
      .bottom-page-banner .bottom-page-banner__havoc-box {
        width: 35vw;
        height: 35vw;
        margin: 0px 0px 50px 10%; } }
  .bottom-page-banner .bottom-page-banner__content {
    color: white;
    max-width: 400px; }
    @media (max-width: 740px) {
      .bottom-page-banner .bottom-page-banner__content {
        margin-left: 10%; } }
    .bottom-page-banner .bottom-page-banner__content h3 {
      font-size: 60px;
      margin-bottom: 15px; }
      @media (max-width: 740px) {
        .bottom-page-banner .bottom-page-banner__content h3 {
          font-size: 44px; } }
      @media (min-width: 1800px) {
        .bottom-page-banner .bottom-page-banner__content h3 {
          font-size: 76px; } }
    .bottom-page-banner .bottom-page-banner__content p {
      font-size: 18px;
      font-weight: 300;
      line-height: 25px; }
      @media (max-width: 740px) {
        .bottom-page-banner .bottom-page-banner__content p {
          font-size: 16px; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.section-title {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 900px) {
    .section-title {
      margin: 0px 0px 75px 0px;
      align-items: flex-start; } }
  @media (max-width: 600px) {
    .section-title {
      margin: 0px 0px 50px 0px; } }
  .section-title div {
    border-bottom: 1px solid black;
    margin: 0px 0px 25px 0px;
    width: 15vw; }
    @media (max-width: 900px) {
      .section-title div {
        width: 25vw; } }
    @media (max-width: 600px) {
      .section-title div {
        width: 25vw; } }
  .section-title h3 {
    font-weight: 900;
    margin: 0px 0px 25px 0px;
    width: 15vw; }
    @media (min-width: 1800px) {
      .section-title h3 {
        font-size: 22px; } }
    @media (max-width: 600px) {
      .section-title h3 {
        font-size: 14px;
        width: 100%; } }
    @media (max-width: 900px) {
      .section-title h3 {
        width: 100%; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.section-sentences {
  display: flex;
  justify-content: space-around;
  padding: 150px 6% 150px 6%;
  color: #333333; }
  @media (max-width: 900px) {
    .section-sentences {
      flex-direction: column;
      padding: 75px 6% 75px 6%; } }
  @media (max-width: 600px) {
    .section-sentences {
      padding: 50px 6% 50px 6%; } }
  .section-sentences__content {
    width: 66.666%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 900px) {
      .section-sentences__content {
        width: 100%; } }
    .section-sentences__content h2 {
      font-size: 60px;
      font-weight: 500;
      margin: -7px 0px 75px 0px; }
      @media (max-width: 1200px) {
        .section-sentences__content h2 {
          font-size: 44px;
          margin: -7px 0px 50px 0px; } }
      @media (max-width: 600px) {
        .section-sentences__content h2 {
          font-size: 33px;
          font-weight: 400; } }
      @media (min-width: 1800px) {
        .section-sentences__content h2 {
          font-size: 76px; } }
    .section-sentences__content p {
      line-height: 30px;
      font-size: 18px;
      font-weight: 300; }
      @media (max-width: 1200px) {
        .section-sentences__content p {
          font-size: 14px; } }
      @media (min-width: 1800px) {
        .section-sentences__content p {
          font-size: 20px; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.email-and-leadership {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
  padding: 0 6% 0 8%;
  margin: 75px 0px 0px 0px; }
  @media (max-width: 900px) {
    .email-and-leadership {
      padding: 0 0 0 0;
      margin: 50px 0px; } }
  @media (max-width: 600px) {
    .email-and-leadership {
      margin: 50px 0px;
      flex-direction: column; } }
  .email-and-leadership div {
    width: 25%;
    padding: 0px 0px 20px 0px; }
    @media (max-width: 900px) {
      .email-and-leadership div {
        width: 50%; } }
  .email-and-leadership div:nth-child(4) h4, .email-and-leadership div:nth-child(8) h4, .email-and-leadership div:nth-child(12) h4 {
    margin-right: 0px; }
  @media (max-width: 900px) {
    .email-and-leadership div:nth-child(even) h4 {
      margin-right: 0px; } }
  .email-and-leadership p {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #888888;
    cursor: pointer;
    transition: .2s; }
    @media (max-width: 900px) {
      .email-and-leadership p {
        font-size: 16px; } }
    @media (max-width: 600px) {
      .email-and-leadership p {
        font-size: 14px; } }
    @media (min-width: 1800px) {
      .email-and-leadership p {
        font-size: 18px; } }
  .email-and-leadership h4 {
    padding: 20px 0px 0px 0px;
    border-top: 1px solid #888888;
    font-size: 24px;
    margin: 0px 15px 5px 0px;
    cursor: pointer;
    transition: .2s; }
    @media (max-width: 900px) {
      .email-and-leadership h4 {
        font-size: 22px; } }
    @media (max-width: 600px) {
      .email-and-leadership h4 {
        font-size: 20px;
        margin-right: 0px; } }
    @media (min-width: 1800px) {
      .email-and-leadership h4 {
        font-size: 28px; } }
  .email-and-leadership h4:hover {
    transition: .2s;
    color: #EA178C; }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.home {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
  position: absolute;
  transition: .5s;
  transition-timing-function: ease-out;
  top: 0; }

.home__section--havoc {
  background: white;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden; }
  .home__section--havoc .home__section--havoc__title {
    color: black;
    font-size: 275px;
    letter-spacing: -10px; }
    @media (max-width: 900px) {
      .home__section--havoc .home__section--havoc__title {
        font-size: 170px;
        letter-spacing: -5px; } }
    @media (max-width: 600px) {
      .home__section--havoc .home__section--havoc__title {
        font-size: 120px;
        letter-spacing: 0px;
        letter-spacing: 0px;
        font-size: 120px; } }
    @media (min-width: 1800px) {
      .home__section--havoc .home__section--havoc__title {
        font-size: 340px; } }
  .home__section--havoc .home__section--havoc__animation-container {
    position: absolute;
    bottom: 10%; }
    .home__section--havoc .home__section--havoc__animation-container p {
      font-size: 16px;
      font-weight: 300; }
      @media (min-width: 1800px) {
        .home__section--havoc .home__section--havoc__animation-container p {
          font-size: 18px; } }
    .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--one-before-animation {
      opacity: 0;
      transition: 1.5s;
      transition-delay: .5s; }
    .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--one-after-animation {
      opacity: 1;
      transition: 1.5s;
      transition-delay: .5s; }
    .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-before-animation, .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-after-animation {
      border-bottom: 1px solid #333333;
      width: 100%;
      position: absolute;
      transform: rotate(-90deg);
      transition: 1s; }
      @media (min-width: 1800px) {
        .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-before-animation, .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-after-animation {
          border-bottom: 2px solid #333333; } }
    .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-before-animation {
      bottom: -150px; }
    .home__section--havoc .home__section--havoc__animation-container .home__section--havoc__animation-container-para--two-after-animation {
      bottom: -75px; }

.home__section--slide-show {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .home__section--slide-show .home__section--slide-show__counter {
    padding-left: 4%;
    z-index: 1;
    background: red;
    height: 0%; }
    @media (min-width: 1800px) {
      .home__section--slide-show .home__section--slide-show__counter {
        font-size: 18px; } }
  .home__section--slide-show .home__section--slide-show__bottom-border {
    margin: 20vh 5px;
    padding-top: 5px;
    border-bottom: 1px solid white;
    width: 50px;
    height: 1px; }
  .home__section--slide-show .home__section--slide-show__counter, .home__section--slide-show .home__section--slide-show__content {
    margin-top: 20vh;
    color: white;
    font-weight: 900; }
  .home__section--slide-show .home__section--slide-show__content {
    position: relative;
    transition: .5s;
    transition-timing-function: ease-out;
    width: 100%;
    padding-right: 4%; }
    @media (max-width: 900px) {
      .home__section--slide-show .home__section--slide-show__content {
        margin-left: -80px; } }
    .home__section--slide-show .home__section--slide-show__content--container1, .home__section--slide-show .home__section--slide-show__content--container2, .home__section--slide-show .home__section--slide-show__content--container3, .home__section--slide-show .home__section--slide-show__content--container4 {
      position: relative; }
      @media (min-width: 1800px) {
        .home__section--slide-show .home__section--slide-show__content--container1 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container2 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container3 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container4 p:first-of-type {
          font-size: 18px; } }
      @media (max-width: 900px) {
        .home__section--slide-show .home__section--slide-show__content--container1 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container2 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container3 p:first-of-type, .home__section--slide-show .home__section--slide-show__content--container4 p:first-of-type {
          margin-left: 80px; } }
    .home__section--slide-show .home__section--slide-show__content h3 {
      margin-top: 10vh;
      font-size: 72px;
      max-width: 400px; }
      @media (max-width: 600px) {
        .home__section--slide-show .home__section--slide-show__content h3 {
          margin-top: 0vh; } }
      @media (max-width: 900px) {
        .home__section--slide-show .home__section--slide-show__content h3 {
          font-size: 48px;
          margin-top: 5vh;
          max-width: 100%; } }
      @media (min-width: 1800px) {
        .home__section--slide-show .home__section--slide-show__content h3 {
          font-size: 102px; } }
    .home__section--slide-show .home__section--slide-show__content p:last-of-type {
      font-weight: 300;
      max-width: 350px;
      font-size: 18px;
      line-height: 35px; }
      @media (max-width: 900px) {
        .home__section--slide-show .home__section--slide-show__content p:last-of-type {
          font-size: 16px;
          line-height: 30px; } }
      @media (min-width: 1800px) {
        .home__section--slide-show .home__section--slide-show__content p:last-of-type {
          font-size: 22px;
          line-height: 44px; } }
    .home__section--slide-show .home__section--slide-show__content .home__section--slide-show__content__border-line {
      border-bottom: 1px solid white;
      margin: 5vh 0;
      width: 100px;
      height: 1px; }
  .home__section--slide-show .home__section--slide-show--backgorund-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: -1; }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.work {
  background: black;
  max-width: 2000px;
  margin: 0 auto; }

.work__make-something-you-love {
  padding-bottom: 100px; }
  .work__make-something-you-love h2 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 75px 0px;
    padding: 0 4%; }
    @media (max-width: 900px) {
      .work__make-something-you-love h2 {
        font-size: 44px; } }
    @media (min-width: 1800px) {
      .work__make-something-you-love h2 {
        font-size: 76px; } }
  .work__make-something-you-love .work__make-something-you-love__img-links-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    width: 90vw;
    margin: 0 auto; }
    .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a {
      background: cover;
      background-size: 100% 100%;
      width: 30vw;
      height: 30vw;
      display: flex;
      text-decoration: none;
      color: white;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      font-size: 38px; }
      @media (max-width: 1000px) {
        .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a {
          width: 45vw;
          height: 45vw; } }
      @media (max-width: 740px) {
        .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a {
          width: 90vw;
          height: 90vw; } }
      .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a h3 {
        margin: 0px 25px 25px 25px;
        transition: .25s; }
      .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a div {
        margin: 0px 25px;
        width: 50%;
        position: absolute;
        opacity: 0;
        transition: .25s; }
    .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a:hover {
      filter: brightness(80%); }
    .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a:hover div {
      opacity: 1;
      transition: .25s; }
    .work__make-something-you-love .work__make-something-you-love__img-links-container .work__make-something-you-love__img-links-container__img a:hover h3 {
      margin-bottom: 75px;
      transition: .25s; }

.work__clients {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0px 150px 0px; }
  @media (max-width: 1200px) {
    .work__clients .work__clients__select-clients {
      flex-grow: 1; } }
  .work__clients .work__clients__select-clients div {
    border: 1px solid white;
    margin: 0px 0px 25px 6%;
    width: 15vw; }
    @media (max-width: 900px) {
      .work__clients .work__clients__select-clients div {
        width: 25vw; } }
  .work__clients .work__clients__select-clients h3 {
    font-weight: 300;
    margin: 0px 0px 50px 6%; }
    @media (min-width: 1800px) {
      .work__clients .work__clients__select-clients h3 {
        font-size: 22px; } }
    @media (max-width: 600px) {
      .work__clients .work__clients__select-clients h3 {
        font-size: 14px;
        margin: 0px 0px 25px 6%; } }
  .work__clients .work__clients__imgs {
    width: 50%;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 1200px) {
      .work__clients .work__clients__imgs {
        width: 90%; } }
    .work__clients .work__clients__imgs img {
      width: 25%;
      height: 25%;
      display: block; }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
.about {
  max-width: 2000px;
  margin: 0 auto;
  background: #cecdcf; }

.about__top-banner-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  color: white;
  font-size: 100px;
  min-height: 80vh; }
  @media (max-width: 900px) {
    .about__top-banner-container {
      font-size: 75px; } }
  @media (max-width: 600px) {
    .about__top-banner-container {
      font-size: 40px; } }
  @media (min-width: 1800px) {
    .about__top-banner-container {
      font-size: 125px; } }
  .about__top-banner-container .about__top-banner-container__background-img {
    background-image: url("/img/about/about-top-banner.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    min-width: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    @media (max-width: 900px) {
      .about__top-banner-container .about__top-banner-container__background-img {
        align-items: flex-end;
        padding-bottom: 150px;
        justify-content: space-between; } }
    @media (min-width: 1800px) {
      .about__top-banner-container .about__top-banner-container__background-img {
        align-items: flex-end;
        padding-bottom: 150px; } }
    .about__top-banner-container .about__top-banner-container__background-img h1 {
      padding: 0px 6%;
      margin-left: 6%; }
      @media (max-width: 900px) {
        .about__top-banner-container .about__top-banner-container__background-img h1 {
          padding: 0px 0%;
          margin-left: 6%;
          max-width: 500px; } }
      @media (min-width: 1800px) {
        .about__top-banner-container .about__top-banner-container__background-img h1 {
          width: 100%;
          text-align: center; } }

.about__how-we-do-it {
  background: black;
  padding: 150px 6% 150px 6%;
  color: white;
  display: flex;
  flex-direction: column; }
  @media (max-width: 900px) {
    .about__how-we-do-it {
      padding: 75px 6% 75px 6%; } }
  @media (max-width: 600px) {
    .about__how-we-do-it {
      padding: 50px 6% 50px 6%; } }
  .about__how-we-do-it .section-title div {
    border: 1px solid white; }
  .about__how-we-do-it .about__how-we-do-it__content {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 900px) {
      .about__how-we-do-it .about__how-we-do-it__content {
        flex-direction: column; } }
    .about__how-we-do-it .about__how-we-do-it__content p {
      line-height: 30px;
      font-size: 18px;
      font-weight: 300; }
      @media (max-width: 1200px) {
        .about__how-we-do-it .about__how-we-do-it__content p {
          font-size: 14px; } }
      @media (min-width: 1800px) {
        .about__how-we-do-it .about__how-we-do-it__content p {
          font-size: 20px; } }
    .about__how-we-do-it .about__how-we-do-it__content h2 {
      font-size: 44px;
      margin-bottom: 50px; }
      @media (max-width: 600px) {
        .about__how-we-do-it .about__how-we-do-it__content h2 {
          font-size: 33px;
          font-weight: 400; } }
      @media (min-width: 1800px) {
        .about__how-we-do-it .about__how-we-do-it__content h2 {
          font-size: 76px; } }
    .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__sentences {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 0 6% 0 8%;
      margin-top: 50px; }
      @media (max-width: 900px) {
        .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__sentences {
          padding: 0 0 0 0;
          margin-top: 0px;
          width: 100%; } }
    .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__graphic {
      width: 40%;
      margin-top: 50px; }
      .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__graphic img {
        display: block;
        width: 100%;
        margin: 0 auto; }
        @media (max-width: 900px) {
          .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__graphic img {
            width: 60%; } }
        @media (max-width: 600px) {
          .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__graphic img {
            width: 80%;
            margin: 0 auto; } }
      @media (max-width: 900px) {
        .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__graphic {
          width: 100%; } }
    .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__links {
      margin-top: 150px;
      display: flex;
      padding: 0 6% 0 8%;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 900px) {
        .about__how-we-do-it .about__how-we-do-it__content .about__how-we-do-it__links {
          padding: 0 0 0 0;
          flex-direction: column; } }

@media (max-width: 900px) {
  .about__how-we-do-it__links__containers {
    margin-bottom: 50px; } }

.about__how-we-do-it__links__containers h4 {
  font-size: 24px;
  margin-bottom: 25px; }
  @media (max-width: 900px) {
    .about__how-we-do-it__links__containers h4 {
      font-size: 22px; } }
  @media (max-width: 600px) {
    .about__how-we-do-it__links__containers h4 {
      font-size: 20px; } }
  @media (min-width: 1800px) {
    .about__how-we-do-it__links__containers h4 {
      font-size: 28px; } }

.about__how-we-do-it__links__containers li {
  font-size: 18px;
  font-weight: 300;
  padding: 25px 0;
  border-bottom: 1px solid #888888;
  cursor: pointer;
  transition: .2s;
  width: 100%; }
  @media (max-width: 900px) {
    .about__how-we-do-it__links__containers li {
      font-size: 16px;
      width: 50%; } }
  @media (max-width: 600px) {
    .about__how-we-do-it__links__containers li {
      font-size: 14px;
      padding: 15px 0; } }
  @media (min-width: 1800px) {
    .about__how-we-do-it__links__containers li {
      font-size: 18px; } }

.about__how-we-do-it__links__containers li:hover {
  color: #EA178C;
  transition: .2s; }

.about__made-with-love {
  padding: 150px 6% 150px 6%;
  position: relative;
  overflow: hidden; }
  .about__made-with-love .about__made-with-love__img {
    height: 750px;
    position: absolute;
    bottom: 100px;
    right: -25px;
    display: block;
    transform: rotate(-15deg);
    z-index: 1;
    display: block; }
    @media (max-width: 900px) {
      .about__made-with-love .about__made-with-love__img {
        display: none; } }
    @media (max-width: 1200px) {
      .about__made-with-love .about__made-with-love__img {
        height: 700px;
        bottom: 150px;
        right: -100px;
        transform: rotate(-30deg); } }
    @media (min-width: 1800px) {
      .about__made-with-love .about__made-with-love__img {
        height: 800px;
        right: 0px;
        bottom: 50px; } }
  @media (max-width: 900px) {
    .about__made-with-love {
      padding: 75px 6% 75px 6%; } }
  @media (max-width: 600px) {
    .about__made-with-love {
      padding: 50px 6% 50px 6%; } }
  .about__made-with-love .about__made-with-love__content {
    padding: 0 0% 0 8%;
    width: 100%;
    margin: 50px 0px 0px 0px;
    z-index: 20; }
    @media (max-width: 900px) {
      .about__made-with-love .about__made-with-love__content {
        font-size: 44px;
        padding: 0 0 0 0;
        font-weight: 400;
        margin: 50px 0px; } }
    @media (max-width: 600px) {
      .about__made-with-love .about__made-with-love__content {
        margin: 50px 0px; } }
  .about__made-with-love h2 {
    font-size: 76px;
    margin-bottom: 75px; }
    @media (max-width: 600px) {
      .about__made-with-love h2 {
        font-size: 44px;
        font-weight: 400; } }
    @media (min-width: 1800px) {
      .about__made-with-love h2 {
        font-size: 100px; } }
  .about__made-with-love h4 {
    font-size: 24px;
    margin-bottom: 25px;
    cursor: pointer; }
    @media (max-width: 900px) {
      .about__made-with-love h4 {
        font-size: 22px; } }
    @media (max-width: 600px) {
      .about__made-with-love h4 {
        font-size: 20px;
        margin-bottom: 15px; } }
    @media (min-width: 1800px) {
      .about__made-with-love h4 {
        font-size: 28px; } }
  .about__made-with-love h4:hover {
    transition: .2s;
    color: #EA178C; }
  .about__made-with-love p {
    font-size: 18px;
    font-weight: 300;
    transition: .2s;
    line-height: 30px; }
    @media (max-width: 600px) {
      .about__made-with-love p {
        font-size: 18px; } }
    @media (min-width: 1800px) {
      .about__made-with-love p {
        font-size: 20px; } }
  .about__made-with-love .about__made-with-love__content__containers {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 600px) {
      .about__made-with-love .about__made-with-love__content__containers {
        flex-direction: column; } }
    .about__made-with-love .about__made-with-love__content__containers__items {
      padding: 0 3%;
      width: 25%;
      margin-bottom: 50px; }
      @media (max-width: 900px) {
        .about__made-with-love .about__made-with-love__content__containers__items {
          width: 50%; } }
    .about__made-with-love .about__made-with-love__content__containers__items:last-of-type {
      margin-bottom: 0px; }
    .about__made-with-love .about__made-with-love__content__containers__items:nth-child(7) {
      margin-right: 25%; }
      @media (max-width: 900px) {
        .about__made-with-love .about__made-with-love__content__containers__items:nth-child(7) {
          margin-right: 0; } }
    .about__made-with-love .about__made-with-love__content__containers__items:nth-child(9) {
      margin-right: 50%; }
      @media (max-width: 900px) {
        .about__made-with-love .about__made-with-love__content__containers__items:nth-child(9) {
          margin-right: 0; } }
    .about__made-with-love .about__made-with-love__content__containers__items:nth-child(1), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(5), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(8), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(10) {
      padding-left: 0; }
    .about__made-with-love .about__made-with-love__content__containers__items:nth-child(4), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(7), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(9), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(10) {
      padding-right: 0; }
    @media (max-width: 900px) {
      .about__made-with-love .about__made-with-love__content__containers__items:nth-child(3), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(7), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(9) {
        padding-left: 0;
        padding-right: 3%; }
      .about__made-with-love .about__made-with-love__content__containers__items:nth-child(2), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(6), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(8), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(10) {
        padding-right: 0;
        padding-left: 3%; } }
    @media (max-width: 600px) {
      .about__made-with-love .about__made-with-love__content__containers__items:nth-child(1), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(2), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(3), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(4), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(5), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(6), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(7), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(8), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(9), .about__made-with-love .about__made-with-love__content__containers__items:nth-child(10) {
        padding-right: 0;
        padding-left: 0; } }

.about__our-offices {
  background: black;
  padding: 150px 6% 150px 6%;
  color: white;
  display: flex;
  flex-direction: column; }
  @media (max-width: 900px) {
    .about__our-offices {
      padding: 75px 6% 75px 6%; } }
  @media (max-width: 600px) {
    .about__our-offices {
      padding: 50px 6% 50px 6%; } }
  .about__our-offices .section-title div {
    border: 1px solid white; }

.about__our-leadership {
  background: white;
  padding: 150px 6% 150px 6%;
  color: white;
  display: flex;
  flex-direction: column; }
  @media (max-width: 900px) {
    .about__our-leadership {
      padding: 75px 6% 75px 6%; } }
  @media (max-width: 600px) {
    .about__our-leadership {
      padding: 50px 6% 50px 6%; } }
  .about__our-leadership .section-title h3 {
    color: black; }
  .about__our-leadership .section-title div {
    border: 1px solid black; }
  .about__our-leadership .email-and-leadership h4 {
    transition: .2s;
    color: black;
    border-top: 1px solid black; }
  .about__our-leadership .email-and-leadership h4:hover {
    transition: .2s;
    color: #EA178C; }
  .about__our-leadership .email-and-leadership div {
    width: 33.333%; }
    @media (max-width: 900px) {
      .about__our-leadership .email-and-leadership div {
        width: 50%; } }
  .about__our-leadership .email-and-leadership div:nth-child(3) h4, .about__our-leadership .email-and-leadership div:nth-child(6) h4, .about__our-leadership .email-and-leadership div:nth-child(9) h4, .about__our-leadership .email-and-leadership div:nth-child(12) h4 {
    margin-right: 0px; }
  .about__our-leadership .email-and-leadership div:nth-child(4) h4, .about__our-leadership .email-and-leadership div:nth-child(7) h4, .about__our-leadership .email-and-leadership div:nth-child(8) h4 {
    margin-right: 15px; }
  @media (max-width: 900px) {
    .about__our-leadership .email-and-leadership div:nth-child(4) h4, .about__our-leadership .email-and-leadership div:nth-child(7) h4, .about__our-leadership .email-and-leadership div:nth-child(8) h4 {
      margin-right: 0px; }
    .about__our-leadership .email-and-leadership div:nth-child(3) h4, .about__our-leadership .email-and-leadership div:nth-child(7) h4, .about__our-leadership .email-and-leadership div:nth-child(9) h4 {
      margin-right: 15px; } }
  @media (max-width: 600px) {
    .about__our-leadership .email-and-leadership div:nth-child(odd) h4 {
      margin-right: 0px; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
header {
  background: #F4F4F4;
  z-index: 99;
  width: 100%;
  height: auto;
  position: fixed;
  overflow: hidden; }

.drop-menu--closed {
  height: 0px; }

.drop-menu--open {
  height: 325px; }

.drop-menu--closed, .drop-menu--open {
  transition: 1s;
  list-style: none;
  max-width: 1000px;
  margin: auto; }
  @media (max-width: 1200px) {
    .drop-menu--closed, .drop-menu--open {
      max-width: 750px; } }

.drop-menu__list {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 900px) {
    .drop-menu__list {
      justify-content: center;
      align-content: center;
      flex-direction: column; } }
  .drop-menu__list a {
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 150px 0px 50px 0px;
    flex: 1; }
    .drop-menu__list a h2 {
      font-size: 32px;
      font-color: black;
      font-weight: 900;
      padding-bottom: 5px;
      cursor: pointer; }
      .drop-menu__list a h2:hover {
        color: #EA178C; }
      @media (min-width: 1800px) {
        .drop-menu__list a h2 {
          font-size: 42px; } }
      @media (max-width: 900px) {
        .drop-menu__list a h2 {
          font-size: 20px;
          order: -2; } }
    .drop-menu__list a p {
      font-size: 14px;
      color: #333333;
      font-weight: 200;
      margin-bottom: 25px; }
      @media (max-width: 900px) {
        .drop-menu__list a p {
          margin-bottom: 0px; } }
      @media (min-width: 1800px) {
        .drop-menu__list a p {
          font-size: 16px; } }
    @media (max-width: 900px) {
      .drop-menu__list a p:first-of-type {
        font-size: 14px;
        color: #333333;
        font-weight: 200;
        align-self: center; } }
    .drop-menu__list a p:last-of-type {
      margin-top: 35px;
      border-bottom: 1px solid black;
      width: 50px;
      margin: 0 auto; }
      @media (max-width: 900px) {
        .drop-menu__list a p:last-of-type {
          border-bottom: 1px solid black;
          flex-grow: 1;
          align-self: center;
          margin: 0 10px;
          order: -1; } }
    @media (max-width: 900px) {
      .drop-menu__list a {
        display: flex;
        justify-content: space-around;
        padding: 5px 4%;
        margin: 0px 0px 0px 0px;
        flex: 0; }
        .drop-menu__list a:first-of-type {
          margin: 125px 0px 0px 0px; }
        .drop-menu__list a:hover h2, .drop-menu__list a:hover p:first-of-type {
          color: #EA178C;
          cursor: pointer;
          transition: .1s; } }

.hamburger-hover-color--pink:hover {
  background: #EA178C; }

.hamburger-hover-color--page-background:hover {
  background: #F4F4F4; }

.hamburger-hover-color--black:hover {
  background: black; }

.hamburgerLogo, .hamburgerLogo--animate {
  left: 50%;
  display: flex;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 100;
  position: fixed;
  width: 75px;
  height: 75px;
  position: fixed;
  overflow: visible; }
  @media (max-width: 600px) {
    .hamburgerLogo, .hamburgerLogo--animate {
      width: 60px;
      height: 60px;
      position: fixed;
      overflow: visible; } }
  .hamburgerLogo:hover .hamburgerLogo__letter--font-big, .hamburgerLogo:hover .hamburgerLogo__letter--font-big--other-pages, .hamburgerLogo--animate:hover .hamburgerLogo__letter--font-big, .hamburgerLogo--animate:hover .hamburgerLogo__letter--font-big--other-pages, .hamburgerLogo:hover .hamburgerLogo--animate__letter--font-big, .hamburgerLogo:hover .hamburgerLogo--animate__letter--font-big--other-pages, .hamburgerLogo--animate:hover .hamburgerLogo--animate__letter--font-big, .hamburgerLogo--animate:hover .hamburgerLogo--animate__letter--font-big--other-pages {
    color: white; }
  .hamburgerLogo__letter--font-big--other-pages, .hamburgerLogo--animate__letter--font-big--other-pages {
    margin: auto;
    font-size: 38px;
    color: black;
    font-weight: 900; }
  .hamburgerLogo__letter--font-big, .hamburgerLogo--animate__letter--font-big {
    margin: auto;
    font-size: 38px;
    color: #EA178C;
    font-weight: 900; }
  .hamburgerLogo__letter--font-small, .hamburgerLogo--animate__letter--font-small {
    margin: auto;
    font-size: 18px;
    color: #EA178C;
    font-weight: 900; }
    @media (max-width: 600px) {
      .hamburgerLogo__letter--font-small, .hamburgerLogo--animate__letter--font-small {
        margin: auto;
        font-size: 16px;
        color: #EA178C;
        font-weight: 900; } }
  .hamburgerLogo__animation-container, .hamburgerLogo--animate__animation-container {
    width: 75px;
    height: 75px;
    position: absolute;
    overflow: hidden; }
    @media (max-width: 600px) {
      .hamburgerLogo__animation-container, .hamburgerLogo--animate__animation-container {
        width: 60px;
        height: 60px;
        position: absolute;
        overflow: hidden; } }
    .hamburgerLogo__animation-container_box, .hamburgerLogo--animate__animation-container_box {
      -webkit-transform-origin: 150% 100%;
      -ms-transform-origin: 150% 100%;
      transform: rotate(-45deg);
      margin: 0px 0px 100px -125px;
      animation: logo 3s;
      width: 300px;
      height: 20px; }
      .hamburgerLogo__animation-container_box--big, .hamburgerLogo--animate__animation-container_box--big {
        margin-bottom: 15px;
        background: #EA178C;
        height: 35px; }
      .hamburgerLogo__animation-container_box--small, .hamburgerLogo--animate__animation-container_box--small {
        margin-bottom: 75px;
        background: #EA178C;
        height: 10px; }

.hamburgerLogo {
  margin: 50px 0px;
  transition: .5s;
  opacity: 1; }

.hamburgerLogo--animate {
  margin: -75px 0px;
  transition: .5s;
  opcacity: 0; }

@keyframes logo {
  0% {
    -webkit-transform-origin: 150% 100%;
    -ms-transform-origin: 150% 100%; }
  100% {
    -webkit-transform-origin: -150% 100%;
    -ms-transform-origin: -150% 100%; } }

/*
- phone: 0 - 600px
- tab-port: 600 - 900px:
- tab-land: 900 - 1200px:
- normal styles: [1200 - 1800px] is where normal styles apply
- big-desktop: 1800px +
*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: black; }
  @media (max-width: 900px) {
    footer {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 4%; } }
  footer .left-side-footer {
    display: flex;
    color: white;
    align-items: center; }
    footer .left-side-footer h3 {
      font-size: 38px; }
    footer .left-side-footer div {
      height: 38px;
      border: 1px solid white;
      margin: 0 30px; }
    @media (max-width: 600px) {
      footer .left-side-footer p {
        font-size: 14px; } }
  footer .right-side-footer {
    display: flex;
    flex-direction: column; }
    footer .right-side-footer ul {
      display: flex;
      font-size: 14px;
      font-weight: 900;
      padding-top: 35px; }
      @media (max-width: 900px) {
        footer .right-side-footer ul {
          padding-top: 20px; } }
      footer .right-side-footer ul a {
        text-decoration: none;
        margin: 0px 10px;
        color: #888888; }
      footer .right-side-footer ul a:hover {
        color: white; }
      footer .right-side-footer ul a:first-of-type {
        margin-left: 0px; }
    footer .right-side-footer p {
      font-size: 14px;
      color: #888888;
      font-weight: 300;
      font-style: italic;
      margin: 10px 10px;
      align-self: flex-end; }
      @media (max-width: 900px) {
        footer .right-side-footer p {
          align-self: flex-start;
          margin: 10px 0px; } }
