@import "../abstracts/variables.scss";

html, body {
  	overflow: hidden;
}
body {
	position: relative;
	height: 1200px;

	@include responsiveVh(phone1) {
		height: 768px;
	}

	@include responsiveVh(phone2) {
		height: 1024px;
	}

	@include responsiveVh(phone3) {
		height: 320px;
	}

	@include responsiveVh(phone4) {
		height: 568px;
	}

	@include responsiveVh(phone5) {
		height: 320px;
	}

	@include responsiveVh(phone6) {
		height: 480px;
	}
}

